[submodule "ferrum"]
	path = projects/ferrum
	url = git@github.com:rubycdp/ferrum.git
[submodule "cuprite"]
	path = projects/cuprite
	url = git@github.com:rubycdp/cuprite.git
[submodule "vessel"]
	path = projects/vessel
	url = git@github.com:rubycdp/vessel.git
